<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_favicon"
        android:roundIcon="@drawable/ic_favicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SearxngWidget">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SearxngWidget">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SearchOverlayActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.SearxngWidget.Overlay"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <receiver
            android:name=".SearxngWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/searxng_widget_info" />
        </receiver>

    </application>

</manifest>
